
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
$tru-pri-col:rgb(95,95,105);
$tru-acc-col:rgba(117, 117, 145, 0.8);
$fal-pri-col:rgb(107, 91, 91);
$fal-acc-col:rgba(153, 111, 111, 0.8);

//animation for active drumpad
@keyframes activated {
    0%{
        background-color:white;
        opacity:50%;
    }
    100% {
        background-color:white;
        opacity:0%;
    }
}

//global

* {
    box-sizing:border-box;
    margin:0;
    padding:0;
}

html {
    font-size:16px;
    
}

#app {
    display:flex;
    justify-content: center;
    align-items: center;
    position:relative;
    height:100vh;
    width:100vw;
    #drum-machine {
        height:36rem;
        width:28rem;
        position:relative;
        #display {
            background-color:gainsboro;
            position:relative;
            z-index:0;
            display:block;
            left:12.5%;
            width:75%;
            height:2rem;
            line-height:2rem;
            text-align:center;
            box-shadow: 0.25rem 0.25rem 0.25rem black;

        }
        #drum-pads {

            z-index:1;
            position:relative;
            height:28rem;
            width:28rem;
            padding:1rem;
            display:flex;
            flex-flow:row wrap;
            box-shadow: 0.25rem 0.25rem 0.25rem black;
            .drum-pad {
                position:relative;
                cursor: pointer;
                display:block;
                height:31%;
                width:31%;
                margin:1.1%;
                
                    text-align: center;
                #pad-id {
                    user-select:none;
                -moz-user-select:none;
                -webkit-user-select: none;
                    font-size:5rem;
                    margin-top:1.25rem;
                    display:block;
                    line-height:100%;
                

                    
                }
                #animHelper {
                  content:'';
                  height:100%;
                  width:100%;
                  position:absolute;
                  top:0;
                  left:0;
                  z-index:1;
                }
            }
        }
        #ctrl-pad {
            //temp col
            background-color: gainsboro;
            position:relative;
            z-index:2;
            left:12.5%;
            padding:1rem;
            height:6rem;
            width:75%;
            box-shadow: 0.25rem 0.25rem 0.25rem black;

        }
        
    }
}

//bank 1

.app-bank1 {
    font-family: 'Roboto', sans-serif;
    background-image: url('https://raw.githubusercontent.com/MatchaCrisp/DrumMachine/main/src/img/shia.jpg');
    background-size: cover;
    &:after {
        position:absolute;
        content:'';
        z-index:1;
        top:0;
        left:0;
        height:100%;
        width:100%;
        background-color:rgba(95,95,105,0.8);
        
    }
    #drum-machine {

        z-index:2;
        .app-pads1 {
            //temp col
            background:linear-gradient(45deg,darkslateblue,rgb(149, 139, 212));

        }
    }
}

//bank 2
.app-bank2 {
    font-family: 'Roboto', sans-serif;
    background-image: url('https://raw.githubusercontent.com/MatchaCrisp/DrumMachine/main/src/img/rick.jpg');
    background-size: cover;
    &:after {
        position:absolute;
        content:'';
        z-index:1;
        top:0;
        left:0;
        height:100%;
        width:100%;
        background-color:rgba(107, 91, 91,0.8);
        filter:blur(80%);
    }

    #drum-machine {
        
        z-index:2;
        .app-pads2 {
            font-family: 'Rock Salt', cursive;
            //temp col
            background:linear-gradient(135deg,rgb(139, 61, 61),rgb(197, 141, 141));

        }
    }
}

//toggle button
.tog {
    position: relative;
    width: 65px;
    display: block;
    margin:0 auto 1rem auto;
    user-select:none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    text-align: left;
    font-size:14px;
    font-family:'Roboto' sans-serif;
    &-check{
      display:none;
    }
    &-label{
      display: block;
      overflow: hidden;
      cursor: pointer;
      height:30px;
      border-radius: 15px;
      .tog-inner{
        display: block;
        box-sizing:content-box;
        width: 200%;
        margin-left: -100%;
        height:30px;
        transition: margin 0.3s ease-in 0s;
        &:before{
          display: block;
            float:left;
            box-sizing:content-box;
          width: calc(50% - 10px);
          height: 30px;
          line-height: 30px;
          font-weight: bold;
          content: attr(datacustattrt);
            padding-left: 10px;
          background: linear-gradient(0deg, $tru-acc-col,$tru-pri-col);
          color: #fff;

        }
        &:after{
          display: block;
          box-sizing:content-box;
          float:left;
          width: calc(50% - 10px);
          height: 30px;
          line-height: 30px;
          font-weight: bold;
          content: attr(datacustattrf);
            padding-right:10px;
          background: linear-gradient(0deg, $fal-acc-col,$fal-pri-col);
          color: #fff;
            text-align: right;
        }
      }
      .tog-switch{
        display: block;
        width: 26px;
        height:26px;
        margin: 5px;
        background:linear-gradient(133deg, white,gray);
        position: absolute;
        top: -3px;
        bottom: 0;
        right: 33px;
        border: 0 solid #bbb;
        border-radius: 50%;
        transition: all 0.3s ease-in 0s;
        box-shadow: 0.5px 0.5px 0.5px black;
      }
    }
    &:disabled{
      background-color: #ddd;
      cursor: not-allowed;
      &:before{
        background-color: #ddd;
        cursor: not-allowed;
      }
    }
    &-check:checked + &-label{
      .tog-inner{
        margin-left: 0;
      }
      .tog-switch{
        right: -3px;
      }
    }
  }
  